*{
    margin: 0;
}


#box {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    font-size : 4rem;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}
